{% extends 'index.html' %}
{% block articles %}

<div id="articles-container">
  <div class="headline-container" id="headline-0">
    <h4 class="source" id="source-0"></h4>
    <h1 class="title" id="title-0"></h1>
    <div class="keywords-container" id="keywords-container-0"></div>
    <h4 class="timestamp" id="timestamp-0"></h4>
    <a class="link" id="link-0" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
  </div>

  <div class="headline-container" id="headline-1">
    <h4 class="source" id="source-1"></h4>
    <h1 class="title" id="title-1"></h1>
    <div class="keywords-container" id="keywords-container-1"></div>
    <h4 class="timestamp" id="timestamp-1"></h4>
    <a class="link" id="link-1" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
  </div>

  <div class="headline-container" id="headline-2">
    <h4 class="source" id="source-2"></h4>
    <h1 class="title" id="title-2"></h1>
    <div class="keywords-container" id="keywords-container-2"></div>
    <h4 class="timestamp" id="timestamp-2"></h4>
    <a class="link" id="link-2" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
  </div>

  <div class="headline-container" id="headline-3">
    <h4 class="source" id="source-3"></h4>
    <h1 class="title" id="title-3"></h1>
    <div class="keywords-container" id="keywords-container-3"></div>
    <h4 class="timestamp" id="timestamp-3"></h4>
    <a class="link" id="link-3" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
  </div>

  <div class="headline-container" id="headline-4">
    <h4 class="source" id="source-4"></h4>
    <h1 class="title" id="title-4"></h1>
    <div class="keywords-container" id="keywords-container-4"></div>
    <h4 class="timestamp" id="timestamp-4"></h4>
    <a class="link" id="link-4" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
  </div>

  <div class="headline-container" id="headline-5">
    <h4 class="source" id="source-5"></h4>
    <h1 class="title" id="title-5"></h1>
    <div class="keywords-container" id="keywords-container-5"></div>
    <h4 class="timestamp" id="timestamp-5"></h4>
    <a class="link" id="link-5" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
  </div>
</div>

{% endblock %}