<!DOCTYPE html>
<html lang=en>

  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
    <script defer src="../static/js/external/solid.js"></script>
    <script defer src="../static/js/external/fontawesome.js"></script>
    <script type="text/javascript" src="../static/js/external/d3.js"></script>
    <script type="text/javascript" src="../static/js/external/jquery-3.4.1.min.js"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32-2.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16-2.png">

    <title>Stock Radar</title>

  </head>

  <body>
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div class="wave waveTop"></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom"></div>
      </div>
    </div>

    <svg id="bubbles-container"></svg>

    <div id="drag-notice-container">
      <h6 id="drag-notice">drag me!</h6>
      <svg id="curved-arrow" width="115" height="45">
        <g stroke-linecap="round" stroke-miterlimit="10">
          <path d="M108.519 35.397c-9.013 8.839-24.133 9.449-34.974 3.485-4.474-2.461-10.037-7.56-8.195-13.4.818-2.596 
                      4.623-7.007 7.465-3.78 3.573 4.061-3.756 11.358-6.245 13.396-6.997 5.731-16.648 7.996-25.507 6.503-20.278-3.415
                      -29.921-23.09-37.544-39.87" />
          <path stroke-linejoin="round"
            d="M109.988 43.269c-.98-4.277 1.606-7.742 1.49-11.938-2.883 1.396-8.855 3.965-12.196 3.507" />
        </g>
      </svg>
    </div>

    <div id="site-info-container">
      <h1 class="logo">
        <span class="animated-underline">Stock</span>
        <span class="animated-underline">Radar</span>
      </h1>
      <p class="site-guide">StockRadar is a <strong>financial news headlines analyser</strong>. It retrieves financial news articles
        in real-time and decets the most talked about topics and key words in current financial news.</p>
      <p class="site-guide"><strong>What are the bubbles?</strong> Each bubble shows a popular topic or key word <u>right now</u>.</p>
    </div>

    <div id="topics-container">
      <h2 id="topics-text">Tell me more about &nbsp;</h2>
      <button id="topics-button" onclick="showTopics()"><span id="changing-text">choose topic</span> &nbsp;&nbsp;<i
          class="fas fa-caret-down"></i></button>
      <div id="topics-list"></div>
      <a id="restore-default" href="javascript:">Default</a>
    </div>

    <div id="articles-container">
      <div class="headline-container" id="headline-0">
        <h4 class="source" id="source-0"></h4>
        <h1 class="title" id="title-0"></h1>
        <div class="keywords-container" id="keywords-container-0"></div>
        <h4 class="timestamp" id="timestamp-0"></h4>
        <a class="link" id="link-0" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
      </div>

      <div class="headline-container" id="headline-1">
        <h4 class="source" id="source-1"></h4>
        <h1 class="title" id="title-1"></h1>
        <div class="keywords-container" id="keywords-container-1"></div>
        <h4 class="timestamp" id="timestamp-1"></h4>
        <a class="link" id="link-1" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
      </div>

      <div class="headline-container" id="headline-2">
        <h4 class="source" id="source-2"></h4>
        <h1 class="title" id="title-2"></h1>
        <div class="keywords-container" id="keywords-container-2"></div>
        <h4 class="timestamp" id="timestamp-2"></h4>
        <a class="link" id="link-2" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
      </div>

      <div class="headline-container" id="headline-3">
        <h4 class="source" id="source-3"></h4>
        <h1 class="title" id="title-3"></h1>
        <div class="keywords-container" id="keywords-container-3"></div>
        <h4 class="timestamp" id="timestamp-3"></h4>
        <a class="link" id="link-3" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
      </div>

      <div class="headline-container" id="headline-4">
        <h4 class="source" id="source-4"></h4>
        <h1 class="title" id="title-4"></h1>
        <div class="keywords-container" id="keywords-container-4"></div>
        <h4 class="timestamp" id="timestamp-4"></h4>
        <a class="link" id="link-4" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
      </div>

      <div class="headline-container" id="headline-5">
        <h4 class="source" id="source-5"></h4>
        <h1 class="title" id="title-5"></h1>
        <div class="keywords-container" id="keywords-container-5"></div>
        <h4 class="timestamp" id="timestamp-5"></h4>
        <a class="link" id="link-5" target="_blank">Full Article &nbsp;<i class="fas fa-external-link-alt"></i></a>
      </div>
    </div>

    <a id="scroll-top" href="javascript:"><i class="fas fa-chevron-up"></i></a>

    <a id="copyright" href="https://github.com/Pantelemon/StockRadar" target="_blank">
      <i class="fa fa-copyright"></i>&nbsp; Created by Valentine. See more on my Github &nbsp;<i
        class="fas fa-external-link-alt"></i>
    </a>

    <h2 id="articles-notice-text">[ Click a bubble to see relevant news articles ]</h2>

    <script type="text/javascript" src="../static/js/media.js"></script>
    <script type="text/javascript" src="../static/js/bubbles.js"></script>
    <script type="text/javascript" src="../static/js/keywords.js"></script>
    <script type="text/javascript" src="../static/js/topics.js"></script>
    <script type="text/javascript" src="../static/js/scroll.js"></script>
    
  </body>

</html>