<!DOCTYPE html>
{% load static %}
<html lang=en>

  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <script defer src="{% static 'js/external/solid.js' %}"></script>
    <script defer src="{% static 'js/external/fontawesome.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/external/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/external/jquery-3.4.1.min.js' %}"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32-2.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16-2.png' %}">

    {% block title %}<title>Stock Radar</title>{% endblock %}

  </head>

  <body>

    {% block background %}{% endblock background %}

    <svg id="bubbles-container"></svg>

    {% block dragnotice %}{% endblock dragnotice %}

    {% block siteinfo %}{% endblock siteinfo %}

    {% block topics %}{% endblock topics %}

    {% block articles %}{% endblock articles %}

    <a id="scroll-top" href="javascript:"><i class="fas fa-chevron-up"></i></a>

    <a id="copyright" href="https://github.com/ofvalentine" target="_blank">
      <i class="fa fa-copyright"></i>&nbsp; Created by Valentine. See more on my Github &nbsp;<i
        class="fas fa-external-link-alt"></i>
    </a>

    <h2 id="articles-notice-text">[ Click a bubble to see relevant news articles ]</h2>

    {% block bubbles %}{% endblock bubbles %}

    <script type="text/javascript" src="../static/js/media.js"></script>
    <script type="text/javascript" src="../static/js/bubbles.js"></script>
    <script type="text/javascript" src="../static/js/keywords.js"></script>
    <script type="text/javascript" src="../static/js/topics.js"></script>
    <script type="text/javascript" src="../static/js/scroll.js"></script>
    
  </body>

</html>