{% extends 'index.html' %}
{% block siteinfo %}

<div id="site-info-container">
  <h1 class="logo">
    <span class="animated-underline">Stock</span>
    <span class="animated-underline">Radar</span>
  </h1>
  <p class="site-guide">StockRadar is a <strong>financial news headlines analyser</strong>. It retrieves financial news articles
    in real-time and decets the most talked about topics and key words in current financial news.</p>
  <p class="site-guide"><strong>What are the bubbles?</strong> Each bubble shows a popular topic or key word <u>right now</u>.</p>
</div>

{% endblock %}