@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@media (min-width: 1366px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 768px) and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  html {
    font-size: 47.5%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 45%;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#bubbles-container {
  width: 100%;
  height: 120%;
  position: absolute;
}
@media (min-width: 361px) and (max-width: 768px) {
  #bubbles-container {
    height: 180%;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  #bubbles-container {
    height: 200%;
  }
}
@media (max-width: 320px) {
  #bubbles-container {
    height: 220%;
  }
}

#site-info-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  margin: 4rem;
  margin-bottom: 0;
}
@media (max-width: 360px) {
  #site-info-container {
    margin-left: 1rem;
  }
}

#topics-container {
  position: relative;
  width: fit-content;
  margin: 4rem;
  margin-top: 3rem;
}
@media (max-width: 360px) {
  #topics-container {
    margin-left: 1rem;
  }
}

#articles-container {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex-wrap: wrap;
  margin-top: 20%;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #articles-container {
    top: 50rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  #articles-container {
    top: 120rem;
  }
}
@media (max-width: 360px) {
  #articles-container {
    top: 100rem;
  }
}

#articles-notice-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  color: #aa469c;
  position: absolute;
  width: 100%;
  top: 115%;
}
@media (min-width: 1025px) {
  #articles-notice-text {
    top: 115%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #articles-notice-text {
    top: 50rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  #articles-notice-text {
    top: 180%;
  }
}
@media (min-width: 321px) and (max-width: 360px) {
  #articles-notice-text {
    top: 190%;
  }
}
@media (max-width: 320px) {
  #articles-notice-text {
    top: 200%;
  }
}

#drag-notice-container {
  position: absolute;
  width: fit-content;
  top: 9rem;
  left: 50rem;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #drag-notice-container {
    top: 50rem;
    left: 80%;
  }
}
@media (max-width: 768px) {
  #drag-notice-container {
    display: none;
  }
}

.logo {
  font: 13rem "Red Hat Display", sans-serif;
  color: #f1f1f1;
  line-height: 10rem;
  width: 45rem;
  margin: 0;
  padding-bottom: 5rem;
}

.animated-underline {
  background-image: linear-gradient(transparent calc(65% - 5px), #86377b 5px);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  animation: underline 5s 0.5s 1 normal forwards;
}
.animated-underline:nth-child(2) {
  margin-left: 5rem;
}

@keyframes underline {
  from {
    background-size: 0%;
  }
  to {
    background-size: 100%;
  }
}
.site-guide {
  font-size: 1.7rem;
  color: #f1f1f1;
  width: 42rem;
  line-height: 2.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

#topics-text {
  color: #f1f1f1;
  font-size: 2rem;
  float: left;
  margin: 0;
  margin-top: 1px;
}

#topics-button {
  background-color: transparent;
  color: #f1f1f1;
  font-size: 2rem;
  border: none;
  border-bottom: #f1f1f1 1px dotted;
  font-family: "Montserrat", sans-serif;
  width: 17rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  #topics-button {
    min-width: 17.5rem;
  }
}
#topics-button:focus {
  outline: 0;
}

#topics-list {
  display: block;
  position: absolute;
  background-color: rgba(241, 241, 241, 0.55);
  min-width: 17.1rem;
  left: 20.3rem;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  #topics-list {
    min-width: 17.6rem;
  }
}

.topic {
  color: #f1f1f1;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.topic:hover {
  background-color: rgba(241, 241, 241, 0.7);
  color: #27273c;
}

#restore-default {
  position: relative;
  background: rgba(241, 241, 241, 0.6);
  color: #27273c;
  width: fit-content;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.3rem;
  margin-left: 1rem;
  display: none;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  #restore-default {
    top: 3rem;
  }
}
#restore-default:hover {
  background: rgba(241, 241, 241, 0.9);
}

#drag-notice {
  color: #bebebe;
  font: 2rem "Indie Flower", cursive;
  margin: 0;
}

#curved-arrow {
  margin-left: 40%;
  fill: none;
  stroke: #bebebe;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #curved-arrow {
    transform: scaleX(-1) translateX(10rem) translateY(1rem);
  }
}

.bubble {
  cursor: pointer;
  fill-opacity: 0.9;
  fill: #86377b;
  stroke: #f1f1f1;
  stroke-width: 2px;
  transition: 0.25s ease-in-out;
  z-index: 3;
}
.bubble:hover {
  fill: #aa469c;
  fill-opacity: 1;
}

@keyframes circle-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  fill: #f1f1f1;
  text-anchor: middle;
  letter-spacing: 3px;
}

.headline-container {
  width: 32rem;
  height: auto;
  background: #f1f1f1;
  position: relative;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-content: space-between;
  align-self: normal;
}

@keyframes swipe {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes swipe-back {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.title {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  margin: 2rem;
}

.keywords-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.keywords {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3rem;
  color: #f1f1f1;
  background-color: #aa469c;
}

.source {
  font-size: 1.4rem;
  padding: 1rem;
  margin: 0;
  color: #f1f1f1;
  background-color: #62285a;
  margin-right: 50%;
}

.timestamp {
  font-size: 1.4rem;
  padding: 1rem;
  margin-left: auto;
}

.link {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  text-decoration: none;
  color: transparent;
  border-left: 1.5rem solid #86377b;
  transition: color 0.5s 0.1s ease-in;
}
.link:hover {
  border-bottom: 0px;
  color: #f1f1f1;
}
.link:hover:after {
  width: 100%;
}
.link:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: -1;
  background: #86377b;
}

#scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: rgba(98, 40, 90, 0.7);
  width: 5rem;
  height: 5rem;
  text-decoration: none;
  border-radius: 50%;
  display: none;
  transition: all 0.3s ease;
}
@media (max-width: 320px) {
  #scroll-top {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #scroll-top {
    bottom: 5rem;
  }
}
#scroll-top svg {
  color: #f1f1f1;
  margin: 0;
  position: relative;
  left: 1.6rem;
  top: 1.3rem;
  font-size: 1.9rem;
  transition: all 0.3s ease;
}
#scroll-top:hover {
  background: rgba(98, 40, 90, 0.9);
}
#scroll-top:hover svg {
  color: #f1f1f1;
  top: 0.5rem;
}

#copyright {
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem;
  color: #aa469c;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  #copyright {
    color: #ce88c4;
  }
}
#copyright:hover {
  color: #ce88c4;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
@media (max-width: 768px) {
  .waveWrapper {
    bottom: 25%;
  }
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
  z-index: -8;
  opacity: 0.5;
}

.bgMiddle {
  z-index: -9;
  opacity: 0.75;
}

.bgBottom {
  z-index: -10;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-image: url("../img/wave-top.png");
  background-size: 50% 10rem;
}
@media (max-width: 768px) {
  .waveTop {
    background-size: 100% 5rem;
  }
}

.waveAnimation .waveTop {
  animation: move-wave 7s;
  -webkit-animation: move-wave 7s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-image: url("../img/wave-mid.png");
  background-size: 50% 12rem;
}
@media (max-width: 768px) {
  .waveMiddle {
    background-size: 100% 7rem;
  }
}

.waveAnimation .waveMiddle {
  animation: move_wave 40s linear infinite;
}
@media (max-width: 768px) {
  .waveAnimation .waveMiddle {
    animation: move_wave 20s linear infinite;
  }
}

.waveBottom {
  background-image: url("../img/wave-bottom.png");
  background-size: 50% 10rem;
}
@media (max-width: 768px) {
  .waveBottom {
    background-size: 100% 5rem;
  }
}

.waveAnimation .waveBottom {
  animation: move_wave 45s linear infinite;
}
@media (max-width: 768px) {
  .waveAnimation .waveBottom {
    animation: move_wave 25s linear infinite;
  }
}
